<!-- Navbar  -->

<nav
  class="navbar-container d-flex justify-content-start justify-content-md-center pt-4 pt-md-5 px-4 px-md-0"
>
  <div class="nav-logo">
    <img
      class="img-fluid"
      src="../assets/icons/logo.svg"
      alt="digispace-logo"
    />
  </div>
</nav>

<!-- Cards Section -->
<div
  class="container cards-section d-flex flex-wrap justify-content-evenly gap-4 gap-md-2 pt-5"
>
  <div class="digi-cards shadow-sm">
    <div class="card-inner d-flex flex-column gap-2 p-3">
      <div class="card-inner-heading fw-bold fs-5">Air Quality</div>

      <div class="card-inner-content d-flex align-items-center gap-4">
        <div class="circle text-white fw-bold fs-1">72</div>
        <div class="card-inner-right">
          <div>
            <span class="up-arrow fs-3">&#8593;</span>&nbsp;
            <span class="digit fw-bold fs-3">93</span>
          </div>
          <hr class="m-0" />
          <div>
            <span class="down-arrow fs-3">&#8595;</span>&nbsp;
            <span class="digit fw-bold fs-3">61</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="digi-cards shadow-sm">
    <div class="card-inner d-flex flex-column gap-2 p-3">
      <div class="card-inner-heading fw-bold fs-5">Temperature</div>

      <div class="card-inner-content d-flex align-items-center gap-4">
        <div class="circle-temp text-white fw-bold fs-1">
          21<sub class="fs-6 fw-normal">&#176;C</sub>
        </div>
        <div class="card-inner-right">
          <div class="d-flex justify-content-center align-items-center">
            <img
              width="15"
              height="15"
              src="../assets/icons/fire.svg"
              alt="fire"
            />&nbsp;
            <span class="digit fw-bold fs-3"
              >26<sub class="fs-6 fw-normal">&#176;C</sub></span
            >
          </div>
          <hr class="m-0" />
          <div class="d-flex justify-content-center align-items-center">
            <img
              width="15"
              height="15"
              src="../assets/icons/snowflake.svg"
              alt="snowflake"
            />&nbsp;
            <span class="digit fw-bold fs-3"
              >18<sub class="fs-6 fw-normal">&#176;C</sub></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="digi-cards shadow-sm">
    <div class="card-inner d-flex flex-column gap-3 p-3">
      <div class="card-inner-heading fw-bold fs-5">Audio</div>

      <div class="d-flex gap-2">
        <div class="digit-audio fw-bold">2</div>
        <div class="play-audio mt-3">PLAYING</div>
        <div class="total-audio d-flex flex-column mt-4">
          <div class="total-heading">Total</div>
          <div class="total-digit">5</div>
        </div>
      </div>
    </div>
  </div>
  <div class="digi-cards shadow-sm">
    <div class="card-inner d-flex flex-column gap-2 p-3">
      <div class="card-inner-heading fw-bold fs-5">Displays</div>

      <div class="d-flex gap-3">
        <div class="digit-audio fw-bold">10<sub class="fs-6">/16</sub></div>
        <div class="pipe"></div>
        <div class="total-audio d-flex flex-column mt-4">
          <div class="total-heading">On Time</div>
          <div class="total-digit">00:00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="digi-cards shadow-sm">
    <div class="card-inner d-flex flex-column gap-3 p-3">
      <div class="card-inner-heading fw-bold fs-5">Lightning</div>

      <div class="d-flex gap-2">
        <div class="digit-audio fw-bold">32</div>
        <div class="on-lightning mt-3">ON</div>
        <div class="total-audio d-flex flex-column mt-4">
          <div class="total-heading">Total</div>
          <div class="total-digit">43</div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
